<section flex layout="horizontal" layout-fill>
  <nav id="main-nav" layout="vertical">
    <header>
      <user-profile></user-profile>
    </header>
    <section id="channel-list" flex class="scroll-vertical">
      <h1>Channels</h1>
      <ul>
        <li ng-repeat="channel in home.channels | activeChannel">
          <a ui-sref="root.home.channel({channel: channel.name})"
            ng-class="{'unread': home.hasUnread(channel)}">
            #{{channel.name}}
          </a>
        </li>
        <li ng-if="home.channels | inactiveChannelCount">
          +{{home.channels | inactiveChannelCount}} more
        </li>
      </ul>
      <h1>People</h1>
      <ul>
        <li ng-repeat="person in home.people">
          <a ui-sref="root.home.dm({name: person.name})">
            {{person.name}} <span ng-if="person.online">✔</span>
          </a>
        </li>
      </ul>
    </section>
    <footer>
      <form ng-submit="home.addChannel()">
        <div class="pad-10">
          <input type="text" ng-model="home.channelName"
            placeholder="channel" class="form-control">
        </div>
      </form>
    </footer>
  </nav>
  <div ui-view flex layout-fill layout="vertical"></div>
</section>
