#main-nav {
  width: 220px;
  background: $purple1;
}
mentio-menu {
  bottom: 35px;
  top: initial !important;
  background: $white;
}
mentio-menu .active {
  background: $silver;
}
.online-indicator {
  color: $green;
}
.user-profile a {
  color: $white;
}
.highlight {
  background: $yellow;
}
#main-nav > header {
  @include main-header($purple1);
}
#channel-list {
  background: $purple2;
  color: $text_purple2;
}
#channel-list h1 {
  padding-left: 5px;
  padding-top: 5px;
}
#channel-list ul {
  padding: 0;
  list-style: none;
  margin-top: 5px;
}
#channel-list li {
  padding-left:  25px;
  margin-right: 15px;
}
#channel-list .active {
  background: $green;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#channel-list .active a {
  color: #fff;
}
#channel-list a {
  color: $text_purple2;
}
#channel-list .unread {
  font-weight: bold;
  color: #FFF;
}
#messages > header {
  @include main-header($white);
}
#messages ul {
  list-style: none;
  padding: 0px 0px;
}
#messages li {
  padding: 10px 10px;
}
#messages h1 {
  line-height: 3.4rem;
  padding-left: 10px;
  font-size: 1.7rem;
}
.user-message {
  display: block;
  padding-left: 45px;
}
.user-message .meta {
  margin-left: -42px;
}
.user-message .avatar {
  float: left;
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  margin-top: 6px;
  border-radius: 5px;
  border: solid 1px $gray;
}
.user-message .username {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  line-height: 16px;
}
.user-message .timestamp {
  display: inline-block;
  font-size: 12px;
  color: #c3c3c3;
}
.user-message .message {
  display: block;
}
.user-profile {
  font-size: 1.3rem;
  line-height: 3.7rem;
  padding-left: 20px;
}
.user-profile button {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  background: transparent;
  border: none;
  color: #8B7F91;
}
