#main-nav {
  width: 250px;
  background: $teal;
}

mentio-menu {
  bottom: 35px;
  top: initial !important;
  background: $white;
}

mentio-menu .active {
  background: $silver;
}

.online-indicator {
 color: $green;
}

.user-profile a {
  color: $white;
}

#main-nav > header {
  @include main-header($blue);
}

#messages > header {
  @include main-header($gray);
}
