<section id="messages" layout-fill layout="vertical" flex>
  <header>
    <h1>{{channel.name}}</h1>
  </header>
  <div flex class="scroll-vertical">
    <ul>
      <li ng-repeat="message in channel.messages">
        <span ng-if="message.default">
          <em><small>{{message.text}}</small></em>
        </span>
        <span ng-if="!message.default">
          <img ng-src="{{message.user.email | gravatarHash}}"
            alt="{{message.user.name}}"
            height="32px" width="32px">
          <span class="username">{{message.user.name}}</span>
          <span class="timestamp">&lt;{{message.timestamp|parseDate|date:'hh:mm a'}}&gt;</span>
           -
          <span class="message" ng-bind-html="message.text | highlighWords"></span>
        </span>
      </li>
    </ul>
  </div>
  <div class="pad-10">
    <form ng-submit="channel.addMessage()">
      <input type="text" class="form-control"
        mentio mentio-typed-text="typedTerm"
        mentio-items="channel.prompt | filter:typedTerm"
        mentio-template-url="/people-mentions.tpl"
        ng-model="channel.newMessage" placeholder="new message">
    </form>
  </div>
</section>
