<section id="messages" layout-fill layout="vertical" flex>
  <header>
    <h1>{{channel.name}}</h1>
  </header>
  <div flex class="scroll-vertical">
    <ul>
      <li ng-repeat="message in channel.messages">
        <span ng-if="message.default">
          <em><small>{{message.text}}</small></em>
        </span>
        <span ng-if="!message.default">
          {{message.user.name}}&lt;{{message.timestamp|parseDate|date:'hh:mm a'}}&gt; - {{message.text}}
        </span>
      </li>
    </ul>
  </div>
  <div class="pad-10">
    <form ng-submit="channel.addMessage()">
      <input type="text" class="form-control"
        ng-model="channel.newMessage" placeholder="new message">
    </form>
  </div>
</section>
