.pad-10 {
  padding: 10px;
  @include border-box();
}

.clickable {
  cursor: pointer;
}

.form-control {
  width: 100%;
  display: block;
  border-radius: 5px;
  border: solid $gray 2px;
  font-size: 16px;
  padding: 5px 5px;
}


.scroll-vertical {
  overflow-y: auto;
}

%center {
  margin-right: auto;
  margin-left: auto;
}

%text-center {
  text-align:center;
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.text-center{
  @extend %text-center;
}
