.pad-10 {
  padding: 10px;
  border-top: solid 1px $black;
  @include border-box();
}

.form-control {
  width: 100%;
  display:block;
}

.scroll-vertical {
  overflow-y: scroll;
}

%center {
  margin-right: auto;
  margin-left: auto;
}

%text-center {
  text-align:center;
}

%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.text-center{
  @extend %text-center;
}
